@charset "utf-8";

/* CSS Document */


body{ overflow-x:hidden; margin:0; padding:0 10px;}


.menu{ width:100%; background:#e7e7e7; border:solid 1px #bab9b9; margin:0 0 10px 0; padding:8px 0; text-align:center;}



.menu li{ display:inline; text-align:center; margin:0 10px;}



.menu li a{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#333; text-decoration:none; outline:none;}

.menu li a:hover{ color:#0c6ba5;}





.formtable{ border:solid 1px #000; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;}



.formtable input[type="text"]{ border:solid 1px #e3e4e5; width:200px; background:#ecedee; height:20px; padding:5px;}



.formtable td{ padding:8px 5px;}



.formtable strong{ border:solid 1px #e3e4e5; width:200px; background:#ecedee; height:20px; padding:5px; display:block; font-weight:normal;}



.subbtn{ background:#0389e0; border:none; cursor:pointer; padding:0 15px; height:30px; color:#fff; font-size:16px; border:solid 1px #0d67a2; line-height:28px; display:block;} 

.loginwrapper{ width:400px; border:solid 4px #efefef; border-radius:10px; padding:20px; margin:25px auto; background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }


.loginwrapper .form-control{ width:96%; padding:5px 2%;}

.loginwrapper .has-error{ font-size:12px; font-weight:normal;}


.loginwrapper .btn-primary{ background:#0c6ba5!important; display:block; margin:0 auto; margin-top:10px; border:none;}
.loginheader { margin-top:30px;}
.loginheader h1{ margin:0; padding:0; text-align:center; color:#0c6ba5;}
.loginheader .logindevider{ width:50px; height:2px; background:#0c6ba5; margin:8px auto;}

.popup table{width:530px!important;padding:0px!important;margin:0 auto!important;}
.popup table td{text-align:left!important;!important;padding:20px 0!important;}

#map{margin:0 auto;margin-bottom: 20px!important;}
.address{padding-left: 20px!important;}
.address span
{
  display:block;
}
.address.companyBullet{}
.head_class{margin: 0 0 10px;padding-top:5px;border-bottom: 1px solid #ccc;color: #000;
    font-size: 24px}
.metaclass{border-bottom: 1px solid #ccc;
    margin: 0 0 5px;
    padding: 0 0 5px;}
.headingcommon{font-size:24px;color: #ec1c24;text-transform: uppercase;}
.title_class{padding-bottom: 10px;}
.btclass{
background: #000;
color: #fff;
   display:inline-block;
    padding: 8px 8px!important;
    text-align: center!important;
    margin:5px!important;
    border-radius: 2px!important;
    text-decoration: none!important;
}
.btclass:visited,.btclass:hover,.btclass:focus{color: #fff!important;}

#loaderDiv {
    background: rgba(0, 0, 0, 0.3) url("../images/loader.svg") no-repeat scroll 50% 50%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}




